*{
    margin: 0px;
    padding:0px; 
}
.grid-container {
    display: grid;
    gap: 10px;
    background-color: #b6dbf8;
    padding:5px;
    width: 80%;
    height: 80vh;
    grid-template-areas: "hdr hdr hdr hdr"
                         "main main main sbr1"
                         "main main main sbr2"
                         "ftr ftr ftr ftr";
  }
  
  .grid-item {
    background-color: rgba(242, 106, 106, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 30px;
    text-align: center;
 align-items: center;
  }
  
  .item1 {
    grid-area:hdr ;
  }
  
  .item2 {
   grid-area: main;
  }
  .item3 {
    grid-area: sbr1;
   }
   .item4 {
    grid-area:sbr2;
   }
  
  .item5 {
    grid-area: ftr;
  }